.git
.gitignore
README.md

.env
.env.sample
*.rbc
capybara-*.html
log
tmp
db/*.sqlite3
db/*.sqlite3-journal
public/system
coverage/
spec/tmp
**.orig
node_modules/*
.bundle

.ruby-version
.ruby-gemset

.rvmrc