<div class="user-memu mt-3">
  <div class="mt-3">
    <%- if controller_name != 'sessions' %>
      <%= link_to "ログイン", new_session_path(resource_name) %><br>
    <% end %>
  </div>
  <div class="mt-3">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "新規登録", new_registration_path(resource_name) %><br>
    <% end %>
  </div>
</div>