<% if @user.liked_by?(post.id) %>
  <td>
    <%= link_to destroy_like_path(post), method: :delete, remote: true, id: :unlike do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= post.likes.count %>
  </td>
<% else %>
  <td>
    <%= link_to create_like_path(post), method: :post, remote: true, id: :like do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= post.likes.count %>
  </td>
<% end %>
