<div class="results-box conitainer">
  <%# <div class=""> %>
    <h4>検索結果</h4>
    <div class="result-card pt-1 pb-1 shadow-sm">
      <% @results.each do |anime| %>
        <div class="result-title mt-3 mb-3 d-flex align-items-center justify-content-center shadow-sm"><%= link_to anime.title, anime_path(anime.id), class:"results" %></div>
      <% end %>
    </div>
  <%# </div> %>
</div>