.results-main{
 padding: 30px;
}

.anime-box{
  // background-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255,160,0,0.3);
  border-radius: 5px;
  margin: 0 auto;
}

.result-header {
	font-size: 1.4em;
	padding-left: 8px;
	margin: 20px 20px 25px 0;
	border-left: solid 7px #1abb9a;
}

.post-card{
  text-align: start;
}

.result-box{
  background-color: rgba(255,160,0,0.3);
  margin: 0 auto;
  width: 80vw;
  border-radius: 5px;
}

.result-card{
  background-color: rgba(255, 255, 255, 0.8);
  margin:  auto;
  border-radius: 4px;
}

.media-box{
  border-radius: 100vh;
  border-style: groove;
  border-color: rgb(160, 196, 32);
  color:  rgb(160, 196, 32);
}
.year-box{
  border-radius: 100vh;
  border-style: groove;
  border-color: rgb(160, 196, 32);
  color:  rgb(160, 196, 32);
}