.navi{
  padding: 10px;
  background-color: #a4def3;
  height: 50px;
}

a{
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #fff462;
}

.rogo{
  color: #fff462;
}

input[type="text"]{
  height: 30px;
  width:500px;
}

input[type="password"]{
  height: 30px;
  width:500px;
}

input[type="email"]{
  height: 30px;
  width:500px;
}

textarea{
  height: 200px;
  width:500px;
}

.field{
  padding-top: 10px; 
}

.actions{
  padding-top: 20px; 
}

