.rogo{
  color:#FFA000;
  text-align: center;
}

.main{
  margin-left: auto;
  margin-right: auto;
  .sub-title{
  text-align: center;
  }
}

.search-box{
  text-align: center;
  .btn{
    color: #FFA000;
  }
}

a{
  text-decoration: none;
}

.search-field{
  .btn:hover{
    color: #333;
  }
}

.home-anime-card{
  border: none;
}