// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile_box{
  // background-color:  #fff;
  .image-box{
    text-align: center;
    margin-bottom: 0;
    img{
      border-radius: 50%;
    }
  }
}

.user-page > .sidebar{
  background: linear-gradient(180deg, #FFC107 0%, #FFC107 50%, #A9CE05 50%, #A9CE05 100%);
  opacity: 0.80;
  align-items: start;
}
.nav-item > .nav-i{
  color: #FFF;
}

link{
  color: white;
}
