.profile_box{
  .image-box{
    text-align: center;
    margin-bottom: 0;
    img{
      border-radius: 50%;
    }
  }
}

.user-page > .sidebar{
  background: linear-gradient(180deg, #FFC107 0%, #FFC107 50%, #A9CE05 50%, #A9CE05 100%);
  opacity: 0.80;
  align-items: start;
}
.nav-item > .nav-i{
  color: #FFF;
}

link{
  color: white;
}

.form-box{
  margin: 0 auto;
}

.field{
  padding: 10px 3px 10px 3px;
}

.form-box-inner{
  width: 80%;
  margin: 0 auto;
}